<mat-card class="wine-card" *ngIf="wine">
  <mat-card-header>
    <mat-card-title>{{wine.name}}</mat-card-title>
    <mat-card-subtitle>{{wine.region}} {{wine.year}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutAlign="start center">
    <div class="row">
      <div class="text-center mb-3 col-md-3"><img [src]="getWineImage(wine.id)" height="300" width="88"></div>
      <div class="col-md-9 pt-5">
        <p>
          {{wine.description}}
        </p>
        <div>
          <div>
            <b>Note:</b> {{wine.rating}}
            <!-- <mat-icon style="color: gold">star_rate</mat-icon> -->
          </div>
          <div>
            <b>Prix:</b> {{wine.price | currency:'EUR':true}}
          </div>
        </div>
      </div>
  </div>
  </mat-card-content>
  <mat-card-actions class="text-center">
      <button mat-icon-button (click)="editWineDialog(wine.id)" data-toggle="tooltip" title="Modifier"><i style="font-size: 18px;" class="fa fa-pencil" aria-hidden="true"></i></button>
  </mat-card-actions>
</mat-card>