<form [formGroup]="form" (ngSubmit)="updateWine()" class="text-center row">
  <mat-form-field class="form-group col-md-8">
      <input matInput name="name" placeholder="Nom" formControlName="name" required>
  </mat-form-field>
  
  <mat-form-field class="form-group col-md-4">
      <input matInput name="year" placeholder="Année" formControlName="year" required>
  </mat-form-field>
  
    <mat-form-field class="form-group col-md-12">
      <textarea matInput name ="description" placeholder="Description" rows="5" formControlName="description"></textarea>
    </mat-form-field>
  
    <mat-form-field class="form-group col-md-6">
        <input type="text" placeholder="Pays" matInput name="country" formControlName="country" [formControl]="countryControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filteredOptions | async" [value]="country.code">
            {{ country.fr }}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  
    <mat-form-field class="form-group col-md-6">
        <input matInput name="region" placeholder="Region" formControlName="region">
    </mat-form-field>
  
    <mat-form-field class="form-group col-md-6">
        <input matInput type="number" name ="price" placeholder="Prix" formControlName="price" required>
    </mat-form-field>
  
    <mat-form-field class="form-group col-md-6">
        <input matInput type="number" name ="rating" placeholder="Note" formControlName="rating">
    </mat-form-field>
   <div class="col-md-6">
        <button type="submit" mat-button color="primary">Mettre à jour</button>
   </div>
   <div class="col-md-6">
        <button type="button" mat-button color="accent" (click)="cancel($event)">Annuler</button>
    </div>
  </form>